<p>customers works!</p>
<p></p>
<div class="card-group">
    <div class="card" *ngFor="let customersArray of customerList" style="width: 18rem;">
        <img [src]="customersArray.profileImg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" [style.color]="customersArray.numberOfYear > 2? 'orange': 'black'">{{customersArray.name}}</h5>
            <p class="card-text">ID: {{customersArray.id}}</p>
            <p class="card-text">Year: {{customersArray.numberOfYear}}</p>
            <a class="btn btn-primary" (click)="editCustomer(customersArray.id)">Go somewhere</a>
        </div>
    </div>
</div>