<p>products works!</p>
<div class="card-group" style="margin: 15px;">
    <div class="card" *ngFor="let product of productList" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="Nike Shoes">
        <div class="card-body">
            <h5 class="card-title">{{product.name| uppercase}}</h5>
            <!--  <input [(ngModel)]="product.name" placeholder="name"> -->
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text" *ngIf="product.price < 10">${{product.price}} (*On Discount)</p>
            <br> <br>
            <button class="btn btn-primary" (click)="editProduct(product.id)">View Detail</button>
        </div>
    </div>
</div>